<!doctype html>
<html lang="en">

<head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<img id='logo' src="C:\Users\vanit\Desktop\Coursework-1/Logo/Logo.png" alt="logo">
<link rel="stylesheet" href="Css.css" />
<h1 id="hfont" align="center">Welcome</h1>
<div id='search box'>Search box</div>
<button>Logout</button>

<body>
         <div id="filter">
                <h1>Filter</h1>
                <select multiple v-model='selectedTopic'>
                        <option v-for='topic in topics'>
                                {{topic}}
                        </option>
                </select>
                <p>Selected topics:{{selectedTopic}}</p>
                <select multiple v-model='selectedLocation'>
                        <option v-for="location in locations">{{location}}</option>
                </select>
                <p>Selected location:{{selectedLocation}}</p>
        
                <div id="courseList">
                        <h1>Courselist</h1>
                        <div v-for="course in filteredCourses" class="course">
                                <li v-for='(value, name) in course'>{{ name }}:{{ value }}</li>
                        </div>
                </div>
        </div>
        
        <script>
                //array holding all the courses available 
                var courses = [
                        { 'topic': 'math', 'location': 'hendon', 'price': 50 },
                        { 'topic': 'math', 'location': 'colindale', 'price': 60 },
                        { 'topic': 'math', 'location': 'harrow', 'price': 80 },
                        { 'topic': 'math', 'location': 'egdware', 'price': 100 },
                        { 'topic': 'english', 'location': 'hendon', 'price': 80 },
                        { 'topic': 'english', 'location': 'colindale', 'price': 90 },
                        { 'topic': 'english', 'location': 'harrow', 'price': 70 },
                        { 'topic': 'english', 'location': 'egdware', 'price': 60 },
                        { 'topic': 'science', 'location': 'hendon', 'price': 40 },
                        { 'topic': 'science', 'location': 'colindale', 'price': 50 },
                        { 'topic': 'science', 'location': 'harrow', 'price': 110 },
                        { 'topic': 'science', 'location': 'egdware', 'price': 90 }
                ]

                var filterApp = new Vue({
                        el: '#filter',
                        data: {
                                courses: courses,
                                selectedTopic: [],
                                selectedLocation: [],
                        },
                        computed: {
                                topics: function () {
                                        return [...new Set(this.courses.map(x => x.topic))]
                                },
                                locations: function () {
                                        return [...new Set(this.courses.map(x => x.location))]
                                }
                        }
                })
        </script>
        <button id = "resetApp" v-on:click='reset'> reset</button>
        
        <script>
                var resetApp = new Vue({
                        methods: {
                                reset: function () {
                                        this.selectedTopic = [];
                                        this.selectedLocation = [];
                                }
                        },
                        computed: {
                                filteredCourses: function () {
                                        var topics = this.selectedTopic, locations = this.selectedLocation;
                                        return this.courses.filter(function (course) {
                                                var topicMatch = false, locationMatch = false;
                                                if (topics.length > 0) {
                                                        if (topics.includes(course.topic)) {
                                                                topicMatch = true;
                                                        }
                                                }
                                                else { topicMatch = true; }
                                                if (locations.length > 0) {
                                                        if (locations.includes(course.location)) {
                                                                locationMatch = true;
                                                        }
                                                }
                                                else { locationMatch = true; }
                                                return topicMatch && locationMatch
                                        })
                                }
                        }
                })
        </script>

</body>

</html>